.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    & ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        list-style-type: none
    }
    & li {
        margin: 20px;
    }
}


